body{
    overflow: hidden;
}

/*页面加载等待*/
#preloder{
    width:100%;
    height:100%;
    background: rgb(236, 223, 223);
}

.loader h2{
    /*垂直居中*/
    text-align: center;
    height:100px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
}
/*loading打点 ie9以下不兼容*/
dot {
    display: inline-block; 
    height: 1em;
    line-height: 1;
    text-align: left;
    vertical-align: -10px;
    overflow: hidden;
}
dot::before {
    display: block;
    content: '...\A..\A.';
    white-space: pre-wrap;
    -webkit-animation: dot 4s infinite step-start both;
            animation: dot 4s infinite step-start both;
}
@-webkit-keyframes dot {
    33% { -webkit-transform: translateY(-2em); transform: translateY(-2em); }
    66% { -webkit-transform: translateY(-1em); transform: translateY(-1em); }
}
@keyframes dot {
    33% { -webkit-transform: translateY(-2em); transform: translateY(-2em); }
    66% { -webkit-transform: translateY(-1em); transform: translateY(-1em); }
}

/*页面加载等待结束*/
/*手机自带浏览器不兼容calc()*/
/*头部width:100%;height:92px;logo左侧margin-left:50px;导航右侧margin-right:50px;导航单项左右padding:15px，距离右侧15px，font-size:15px;*/
.header-section{
    width:94%;
    margin:0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
    -webkit-box-align:center; 
        -ms-flex-align:center; 
            align-items:center;
            -ms-flex-flow: wrap;
                flex-flow: wrap;
}

/*手机版屏幕大小间距无变化*/
/*xxxpx/18*/
.header-section>.logo{
    -webkit-box-flex:1;
        -ms-flex:1 1 50%;
            flex:1 1 50%; 
    margin: 2.22222rem auto; 
}

.header-section>.logo>img{
    max-width: 12.333rem;
    max-height: 3.555556rem;
}

.header-section>.responsive{
     -webkit-box-flex:1;
         -ms-flex:1 1 50%;
             flex:1 1 50%;
     text-align: right;
}

.header-section>nav{
    -webkit-box-flex:1;
        -ms-flex:1 1 100%;
            flex:1 1 100%;
  
}

/*手机版屏幕大小间距无变化*/
.header-section>.responsive>.fa-bars{
    font-size: 3.33333rem;
}
.header-section>nav>p{
    content:'';
    height:1px;
    background: #000;
    display: none;
    margin-bottom: 1.66667rem;
}

.header-section>nav>ul{
    display: none;
}

/*手机版屏幕大小间距无变化*/
.header-section>nav>ul>li{   
   line-height:4.444444rem;
}

/*手机版屏幕大小间距无变化*/
.header-section>nav>ul>li>a{   
   font-size: 1.66667rem;
}

.active{
    background: rgb(9, 199, 142);
}
/*414px屏 根元素为18px*/
@media (-webkit-min-device-pixel-ratio:2) {
    /*20px/2*/
    .header-section>.logo{
        /* margin:calc(40px / 2) auto; */
        margin:1.11111rem auto;
    }
    .header-section>.logo>img{
        /* max-width:calc(222px / 2);
        max-height: calc(64px / 2); */
        max-width: 6.166667rem;
        max-height: 1.777778rem;
    }
    .header-section>.responsive>.fa-bars{
        /* font-size: calc(60px / 2); */
        font-size: 1.66667rem;
    }
    
    .header-section>nav>p{
        -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        /* margin-bottom: calc(30px / 2); */
        margin-bottom: .833333rem;
    }
    .header-section>nav>ul>li{   
        /* line-height:calc(80px / 2); */
       line-height:1.666667rem;
    }
    .header-section>nav>ul>li>a{   
        /* font-size: calc(30px / 2); */
       font-size:0.833333rem;
       color:rgb(232, 236, 11);
    }
}

@media (-webkit-min-device-pixel-ratio:2.5) {
     .header-section>.logo{
        /* margin:calc(40px / 2) auto; */
        margin:0.8888889rem auto;
    }
    .header-section>.logo>img{
        /* max-width:calc(222px / 2);
        max-height: calc(64px / 2); */
        max-width: 4.933336rem;
        max-height: 1.422224rem;
    }
    .header-section>.responsive>.fa-bars{
        /* font-size: calc(60px / 2); */
        font-size: 1.333336rem;
    }
    
    .header-section>nav>p{
        -webkit-transform: scaleY(0.38461);
                transform: scaleY(0.38461);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        /* margin-bottom: calc(30px / 2); */
        margin-bottom: 0.666664rem;
    }
    .header-section>nav>ul>li{   
        /* line-height:calc(80px / 2); */
       line-height:1.3333336rem;
    }
    .header-section>nav>ul>li>a{   
        /* font-size: calc(30px / 2); */
       font-size:0.6666664rem;
       color:rgb(232, 236, 11);
    }
}


@media (-webkit-min-device-pixel-ratio:3) {
     .header-section>.logo{
        /* margin:calc(40px / 2) auto; */
        margin:0.74074rem auto;
    }
    .header-section>.logo>img{
        /* max-width:calc(222px / 2);
        max-height: calc(64px / 2); */
        max-width: 4.1111111rem;
        max-height: 1.4222224rem;
    }
    .header-section>.responsive>.fa-bars{
        /* font-size: calc(60px / 2); */
        font-size: 1.11111rem;
    }
    
    .header-section>nav>p{
        -webkit-transform: scaleY(0.333);
                transform: scaleY(0.333);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        /* margin-bottom: calc(30px / 2); */
        margin-bottom: 0.555556rem;
    }
    .header-section>nav>ul>li{   
        /* line-height:calc(80px / 2); */
       line-height:1.111111rem;
    }
    .header-section>nav>ul>li>a{   
        /* font-size: calc(30px / 2); */
       font-size:0.555556rem;
       color:rgb(232, 236, 11);
    }
}
/* 
@media (min-width: 767px) and (-webkit-min-device-pixel-ratio:2){
    .header-section>.responsive, .header-section>nav>p{
       display: none;
    }
    
    .header-section>nav>ul{
        display: inline-block;
        float: right;
    }

    .header-section>.logo{
        
        -webkit-box-flex:1;
        
            -ms-flex:auto;
        
                flex:auto;
    }
    .header-section>.logo>img{
        max-width: 55px;
        max-height: 16px;
    }
    .header-section>nav{
       -webkit-box-flex:1;
           -ms-flex:auto;
               flex:auto;
       height:100%;
    }
    .header-section>nav>ul>li{   
       display: inline-block;
       line-height: 45px;
       padding: 0 7.5px;
       margin-right: 7.5px;
    }
} 
@media (min-width: 767px) and (-webkit-min-device-pixel-ratio:3){
    .header-section>.responsive, .header-section>nav>p{
       display: none;
    }
    
    .header-section>nav>ul{
        display: inline-block;
        float: right;
    }

    .header-section>.logo{
        
        -webkit-box-flex:1;
        
            -ms-flex:auto;
        
                flex:auto;
    }
    .header-section>.logo>img{
        max-width: 37px;
        max-height: 10px;
    }
    .header-section>nav{
       -webkit-box-flex:1;
           -ms-flex:auto;
               flex:auto;
       height:100%;
    }
    .header-section>nav>ul>li{   
       display: inline-block;
       line-height: 30px;
       padding: 0 5px;
       margin-right: 5px;
    }
} */
